@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

.action__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  max-width: 100%;
}

.image__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image__container > div {
  display: grid;
  gap: 20px;
  justify-items: center;
  width: fit-content;
}

.image__container > div:not(.trade__icon):not(.trade__to) {
  grid-template-columns: repeat(1, minmax(200px, 1fr));
}

@media (min-width: 600px) {
  .image__container > div:not(.trade__icon):not(.trade__to) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

.trade__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: auto;
  color: #717171;
  flex-shrink: 0;
  max-width: 100%;
}

.trade__to {
  display: grid;
  gap: 20px;
  justify-items: center;
  grid-template-columns: 1fr;
  width: fit-content;
  max-width: 100%;
}

.image__option {
  cursor: pointer;
  margin: 10px;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 7px 7px 10px 1px #ffffff4d,
                -7px -7px 10px 1px #ffffff4d,
                7px -7px 10px 1px #ffffff4d,
                -7px 7px 10px 1px #ffffff4d
  }

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px white;
  }
}

.image__selected {
  outline: 5px solid #ffffffc6;
}

.action__button {
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: black;
  color: white;
  border: 2px solid #9b9b9b; 
  border-radius: 20px;
  padding: 20px 40px;
  font-size: 20px;
  width: 50%;
  margin-top: 10px;
  align-self: center;
  font-family: 'Cinzel', serif;

  &:hover {
    background-color: #acacac;
    color: black;
  }

  &:disabled {
    background-color: #393939;
    color: #7d7d7d;
    border-color: #c0c0c0;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
